@charset "UTF-8";

#navi {
	position: absolute;
	right: 20px;
	bottom: 20px;
	height: 30px;
}

#navi ul.dropdown {
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
}

#navi ul.dropdown li {
	float: left;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}

#navi ul.dropdown li a {
	padding: 10px 5px;
}

#navi ul.dropdown li:hover,
#navi ul.dropdown li:focus {
	position: relative;
}

#navi ul.dropdown li ul {
	display: none;
	position: absolute;
	bottom: 20px;
	left: -50px;
}

#navi ul.dropdown li:hover ul,
#navi ul.dropdown li:focus ul {
	display: block;
}

#navi ul.dropdown li ul li {
	
}

#navi ul.dropdown {
	background: transparent url('../layout/images/grad1.png') repeat-x scroll 0 0;
}

#navi ul.dropdown li {
	background: transparent url('../layout/images/grad2.png') repeat-x scroll 0 0;
}


#navi ul.dropdown li:hover,
#navi ul.dropdown li:focus {
	
}

#navi ul.dropdown li a,
#navi ul.dropdown li a:visited {
	color: #393939;
	text-decoration: none;
	font-size: 14px;
}

#navi ul.dropdown li a:focus,
#navi ul.dropdown li a:hover,
#navi ul.dropdown li a:active {
	color: #c0c0c0;
	text-decoration: none;
}
