ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown,
ul.dropdown li {
 float: left;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 cursor: default;
}

ul.dropdown ul {
 position: absolute;
 left: -0px;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown-upward ul {
 top: auto;
 bottom: 100%;
}

ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 0px 15px;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 background: url(../layout/images/grad2.png) 0 100% repeat-x;
 color: #000;
}

ul.dropdown li a:active {
 background: url(../layout/images/grad1.png) repeat-x;
}

	ul.dropdown li {
	 padding: 7px 10px;
	 border-style: solid;
	 border-width: 1px 1px 1px 0;
	 border-color: #fff #d9d9d9 #d9d9d9;
	 background-color: #f6f6f6;
	 color: #000;
	}


	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #000; text-decoration: none; }
	ul.dropdown a:hover		{ color: #000; }
	ul.dropdown a:active	{ color: #ffa500; }

	ul.dropdown ul {
	 width: 150px;
	 margin-top: 1px;
	 
	}

		ul.dropdown ul li {
		 font-weight: normal;
		}
